In [1]:
import pandas as pd

In [2]:
# URL for the threatened and endangered species lists from the Animal Welfare Institute
url = "https://awionline.org/content/list-endangered-species"

In [3]:
# Scrape the website for tables of threatened/endangered species
tables = pd.read_html(url)
tables

[                                Common Name            Scientific Name  \
 0                                     Addax        Addax nasomaculatus
 1                             Anoa, lowland     Bubalus depressicornis
 2                            Anoa, mountain           Bubalus quarlesi
 3                     Antelope, giant sable  Hippotragus niger variani
 4                         Antelope, Tibetan       Panthalops hodgsonii
 ..                                      ...                        ...
 377  Woodrat, riparian (San Joaquin Valley)   Neotoma fuscipes riparia
 378                               Yak, wild  Bos mutus (=grunniens m.)
 379                          Zebra, Grevy's               Equus grevyi
 380              Zebra, Hartmann's mountain     Equus zebra hartmannae
 381                         Zebra, mountain          Equus zebra zebra

          Status
 0    Endangered
 1    Endangered
 2    Endangered
 3    Endangered
 4    Endangered
 ..          ...
 377  Endangered
 378  Endangered
 379  Threatened
 380  Threatened
 381  Endangered

 [382 rows x 3 columns],
                 Common Name                   Scientific Name      Status
 0         Adjutant, greater                Leptoptilos dubius  Endangered
 1     Akekee (honeycreeper)            Loxops caeruleirostris  Endangered
 2             Akepa, Hawaii                  Loxops coccineus  Endangered
 3               Akepa, Maui                  Loxops ochraceus  Endangered
 4            Akialoa, Kauai            Hemignathus stejnegeri  Endangered
 ..                      ...                               ...         ...
 337    Wood-quail, gorgeted            Odontophorus strophium  Endangered
 338       Woodstar, Chilean                 Eulidia yarrellii  Endangered
 339    Woodstar, Esmeraldas           Chaetocercus berlepschi  Endangered
 340  Wren, Guadeloupe house  Troglodytes aedon guadeloupensis  Endangered
 341   Wren, St. Lucia house      Troglodytes aedon mesoleucus  Endangered

 [342 rows x 3 columns],
                              Common Name                    Scientific Name  \
 0                    Alligator, American         Alligator mississippiensis
 1                     Alligator, Chinese                 Alligator sinensis
 2            Anole, Culebra Island giant                  Anolis roosevelti
 3                          Boa, Jamaican                Epicrates subflavus
 4                              Boa, Mona        Epicrates monensis monensis
 ..                                   ...                                ...
 141                 Turtle, spotted pond               Geoclemys hamiltonii
 142           Turtle, three-keeled Asian           Melanochelys tricarinata
 143          Turtle, yellow-blotched map            Graptemys flavimaculata
 144                    Viper, Lar Valley                     Vipera latifii
 145  Whipsnake, Alameda (=striped racer)  Masticophis lateralis euryxanthus

                Status
 0    Threatened (S/A)
 1          Endangered
 2          Endangered
 3          Endangered
 4          Threatened
 ..                ...
 141        Endangered
 142        Endangered
 143        Threatened
 144        Endangered
 145        Threatened

 [146 rows x 3 columns],
                                           Common Name  \
 0                                       Coqui, golden
 1                                      Coqui, llanero
 2                         Frog, California red-legged
 3                            Frog, Chiricahua leopard
 4                                  Frog, dusky gopher
 5                                       Frog, Goliath
 6                                Frog, Israel painted
 7   Frog, mountain yellow-legged [Northern Califor...
 8   Frog, mountain yellow-legged [Southern Califor...
 9                                Frog, Oregon spotted
 10                            Frog, Panamanian golden
 11                  Frog, Sierra Nevada yellow-legged
 12                               Frog, Stephen Island
 13                                             Guaj√≥n
 14                                  Hellbender, Ozark
 15                           Salamander, Austin blind
 16                         Salamander, Barton Springs
 17  Salamander, California tiger [Santa Barbara Co...
 18  Salamander, California tiger [Central Californ...
 19                                                NaN
 20   Salamander, California tiger [Sonoma County DPS]
 21                         Salamander, Cheat Mountain
 22                          Salamander, Chinese giant
 23                         Salamander, desert slender
 24                      Salamander, frosted flatwoods
 25                             Salamander, Georgetown
 26                         Salamander, Japanese giant
 27                        Salamander, Jemez Mountains
 28                     Salamander, Jollyville Plateau
 29                              Salamander, Red Hills
 30                  Salamander, reticulated flatwoods
 31                                 Salamander, Salado
 32                             Salamander, San Marcos
 33                   Salamander, Santa Cruz long-toed
 34                             Salamander, Shenandoah
 35                          Salamander, Sonoran tiger
 36                            Salamander, Texas blind
 37                Toad, arroyo (=arroyo southwestern)
 38                                     Toad, Cameroon
 39                                      Toad, Houston
 40                           Toad, Monte Verde golden
 41                         Toad, Puerto Rican crested
 42                                      Toad, Wyoming
 43                                     Toad, Yosemite
 44                          Toads, African viviparous
 45                            Waterdog, Black Warrior

                          Scientific Name      Status
 0              Eleutherodactylus jasperi  Threatened
 1         Eleutherodactylus juanariveroi  Endangered
 2                         Rana draytonii  Threatened
 3                    Rana chiricahuensis  Threatened
 4     Rana sevosa (= Lithobates sevosus)  Endangered
 5                        Conraua goliath  Threatened
 6               Discoglossus nigriventer  Endangered
 7                           Rana muscosa  Endangered
 8                           Rana muscosa  Endangered
 9                          Rana pretiosa  Threatened
 10                Atelopus varius zeteki  Endangered
 11                          Rana sierrae  Endangered
 12                   Leiopelma hamiltoni  Endangered
 13               Eleutherodactylus cooki  Threatened
 14  Cryptobranchus alleganiensis bishopi  Endangered
 15                 Eurycea waterlooensis  Endangered
 16                       Eurycea sosorum  Endangered
 17               Ambystoma californiense  Endangered
 18               Ambystoma californiense  Threatened
 19                                   NaN         NaN
 20               Ambystoma californiense  Endangered
 21                    Plethodon nettingi  Threatened
 22   Andrias davidianus (=davidianus d.)  Endangered
 23                   Batrachoseps aridus  Endangered
 24                  Ambystoma cingulatum  Threatened
 25                     Eurycea naufragia  Threatened
 26    Andrias japonicus (=davidianus j.)  Endangered
 27                Plethodon neomexicanus  Endangered
 28                      Eurycea tonkawae  Threatened
 29                Phaeognathus hubrichti  Threatened
 30                     Ambystoma bishopi  Endangered
 31                 Eurycea chisholmensis  Threatened
 32                          Eurycea nana  Threatened
 33       Ambystoma macrodactylum croceum  Endangered
 34                  Plethodon shenandoah  Endangered
 35          Ambystoma tigrinum stebbinsi  Endangered
 36                  Typhlomolge rathbuni  Endangered
 37                 Anaxyrus californicus  Endangered
 38                    Bufo superciliaris  Endangered
 39                     Bufo houstonensis  Endangered
 40                       Bufo periglenes  Endangered
 41                     Peltophryne lemur  Threatened
 42               Bufo hemiophrys baxteri  Endangered
 43                      Anaxyrus canorus  Threatened
 44                   Nectophrynoidesspp.  Endangered
 45                  Necturus alabamensis  Endangered  ,
                    Common Name                 Scientific Name      Status
 0            Ala Balik (trout)             Salmo platycephalus  Endangered
 1           Angelshark, common               Squatina squatina  Endangered
 2          Angelshark, sawback               Squatina aculeata  Endangered
 3       Angelshark, smoothback                Squatina oculata  Endangered
 4            Ayumodoki (loach)               Hymenophysa curta  Endangered
 ..                         ...                             ...         ...
 209  Trout, Lahontan cutthroat   Oncorhynchus clarkii henshawi  Threatened
 210  Trout, Little Kern golden  Oncorhynchus aguabonita whitei  Threatened
 211    Trout, Paiute cutthroat  Oncorhynchus clarkii seleniris  Threatened
 212                   Woundfin       Plagopterus argentissimus  Endangered
 213                   Woundfin       Plagopterus argentissimus          XN

 [214 rows x 3 columns],
               Common Name            Scientific Name      Status
 0    Acornshell, southern  Epioblasma othcaloogensis  Endangered
 1     Bankclimber, purple    Elliptoideus sloatianus  Threatened
 2           Bean, Choctaw       Villosa choctawensis  Endangered
 3        Bean, Cumberland           Villosa trabalis  Endangered
 4        Bean, Cumberland           Villosa trabalis          XN
 ..                    ...                        ...         ...
 119          Stirrupshell            Quadrula stapes  Endangered
 120       Threeridge, fat          Amblema neislerii  Endangered
 121      Wartyback, white   Plethobasus cicatricosus  Endangered
 122      Wartyback, white   Plethobasus cicatricosus          XN
 123    Wedgemussel, dwarf      Alasmidonta heterodon  Endangered

 [124 rows x 3 columns],
                                     Common Name  \
 0                                Abalone, Black
 1                                Abalone, white
 2                             Ambersnail, Kanab
 3                            Campeloma, slender
 4                     Cavesnail, Tumbling Creek
 5                                  Elimia, lacy
 6                              Hornsnail, rough
 7                       Limpet, Banbury Springs
 8                          Lioplax, cylindrical
 9                    Marstonia, armored (snail)
 10                             Marstonia, royal
 11                            Pebblesnail, flat
 12                              Pecos assiminea
 13                        Riversnail, Anthony's
 14                        Riversnail, Anthony's
 15                        Riversnail, Anthony's
 16                       Rocksnail, interrupted
 17                           Rocksnail, painted
 18                           Rocksnail, plicate
 19                             Rocksnail, round
 20                          Snail, Bliss Rapids
 21               Snail, Chittenango ovate amber
 22             Snail, flat-spired three-toothed
 23  Snail, fragile tree (Akaleha dogas, Denden)
 24           Snail, Guam tree (Akaleha, Denden)
 25         Snail, humped tree (Akaleha, Denden)
 26                      Snail, Iowa Pleistocene
 27                            Snail, Lanai tree
 28                            Snail, Lanai tree
 29     Snail, Langford's tree (Akaleha, Denden)
 30                     Snail, Manus Island tree
 31     Snail, Morro shoulderband (=Banded dune)
 32                             Snail, Newcomb's
 33                        Snail, Newcomb's tree
 34                       Snail [no common name]
 35                       Snail [no common name]
 36                               Snail, noonday
 37           Snail, painted snake coiled forest
 38                     Snail, Snake River physa
 39                     Snail, Stock Island tree
 40                              Snail, tulotoma
 41             Snail, Virginia fringed mountain
 42                            Snails, Oahu tree
 43                         Springsnail, Alamosa
 44                     Springsnail, Bruneau Hot
 45                       Springsnail, Chupadera
 46                        Springsnail, Koster's
 47                         Springsnail, Phantom
 48                         Springsnail, Roswell
 49                  Springsnail, San Bernardino
 50                         Springsnail, Socorro
 51                     Springsnail, Three Forks
 52                             Tryonia, Diamond
 53                            Tryonia, Gonzales
 54                             Tryonia, Phantom

                            Scientific Name      Status
 0                     Haliotis cracherodii  Endangered
 1                       Haliotis sorenseni  Endangered
 2               Oxyloma haydeni kanabensis  Endangered
 3                        Campeloma decampi  Endangered
 4                         Antrobia culveri  Endangered
 5                        Elimia crenatella  Threatened
 6                      Pleurocera foremani  Endangered
 7                                 Lanx¬†sp.  Endangered
 8                 Lioplax cyclostomaformis  Endangered
 9         Pyrgulopsis (=Marstonia) pachyta  Endangered
 10                  Pyrgulopsis ogmorhaphe  Endangered
 11                     Lepyrium showalteri  Endangered
 12                         Assiminea pecos  Endangered
 13                      Athearnia anthonyi  Endangered
 14                      Athearnia anthonyi          XN
 15                      Athearnia anthonyi          XN
 16                       Leptoxis foremani  Endangered
 17                       Leptoxis taeniata  Threatened
 18                        Leptoxis plicata  Endangered
 19                          Leptoxis ampla  Threatened
 20               Taylorconcha serpenticola  Threatened
 21               Succinea chittenangoensis  Threatened
 22                Triodopsis platysayoides  Threatened
 23                        Samoana fragilis  Endangered
 24                       Partula radiolata  Endangered
 25                           Partula gibba  Endangered
 26                     Discus macclintocki  Endangered
 27                  Partulina semicarinata  Endangered
 28                    Partulina variabilis  Endangered
 29                       Partula langfordi  Endangered
 30                   Papustyla pulcherrima  Endangered
 31              Helminthoglypta walkeriana  Endangered
 32                         Erinna newcombi  Threatened
 33                       Newcombia cumingi  Endangered
 34                             Eua zebrina  Endangered
 35                       Ostodes strigatus  Endangered
 36                Mesodon clarki nantahala  Threatened
 37                        Anguispira picta  Threatened
 38                         Physa natricina  Endangered
 39  Orthalicus reses(not incl.¬†nesodryas¬†)  Threatened
 40                      Tulotoma magnifica  Threatened
 41                Polygyriscus virginianus  Endangered
 42                        Achatinella¬†spp.  Endangered
 43                        Tryonia alamosae  Endangered
 44                Pyrgulopsis bruneauensis  Endangered
 45                  Pyrgulopsis chupaderae  Endangered
 46                       Juturnia kosteria  Endangered
 47                      Pyrgulopsis texana  Endangered
 48                Pyrgulopsis roswellensis  Endangered
 49                  Pyrgulopsis bernardina  Threatened
 50                 Pyrgulopsis neomexicana  Endangered
 51                   Pyrgulopsis trivialis  Endangered
 52                Pseudotryonia adamantina  Endangered
 53                   Tryonia circumstriata  Endangered
 54                        Tryonia cheatumi  Endangered  ,
                    Common Name                 Scientific Name      Status
 0   Bee, bumble, rusty patched                  Bombus affinis  Endangered
 1            Bee, yellow-faced             Hylaeus anthracinus  Endangered
 2            Bee, yellow-faced              Hylaeus assimulans  Endangered
 3            Bee, yellow-faced                 Hylaeus facilis  Endangered
 4            Bee, yellow-faced                 Hylaeus hilaris  Endangered
 ..                         ...                             ...         ...
 89   Skipper, Carson wandering  Pseudocopaeodes eunus obscurus  Endangered
 90             Skipper, Dakota                Hesperia dacotae  Threatened
 91   Skipper, Laguna Mountains          Pyrgus ruralis lagunae  Endangered
 92     Skipper, Pawnee montane      Hesperia leonardus montana  Threatened
 93      Skipperling, Poweshiek               Oarisma poweshiek  Endangered

 [94 rows x 3 columns],
                                Common Name         Scientific Name      Status
 0               Harvestman, Bee Creek Cave        Texella reddelli  Endangered
 1                    Harvestman, Bone Cave          Texella reyesi  Endangered
 2            Harvestman, Cokendolpher cave   Texella cokendolpheri  Endangered
 3              Meshweaver, Braken Bat Cave         Circurina venii  Endangered
 4   Meshweaver, Government Canyon Bat Cave       Circurina vespera  Endangered
 5                   Meshweaver, Madla Cave          Cicurina madla  Endangered
 6            Meshweaver, Robber Baron Cave        Cicurina baronia  Endangered
 7               Pseudoscorpion, Tooth Cave  Tartarocreagris texana  Endangered
 8       Spider, Government Canyon Bat Cave    Neoleptoneta microps  Endangered
 9           Spider, ivory ornamental tiger  Poecilotheria subfusca  Endangered
 10                 Spider, Kauai cave wolf         Adelocosa anops  Endangered
 11                    Spider, ornate tiger    Poecilotheria ornata  Endangered
 12                Spider, Pedersen's tiger   Poecilotheria vittata  Endangered
 13                   Spider, Smith's tiger    Poecilotheria smithi  Endangered
 14                 Spider, spruce-fir moss   Microhexura montivaga  Endangered
 15      Spider, Sri Lanka ornamental tiger  Poecilotheria fasciata  Endangered
 16                      Spider, Tooth Cave    Neoleptoneta myopica  Endangered,
                       Common Name                   Scientific Name  \
 0            Amphipod, diminutive             Gammarus hyalleloides
 1          Amphipod, Hay's Spring                  Stygobromus hayi
 2         Amphipod, Illinois Cave             Gammarus acherondytes
 3            Amphipod, Kauai cave           Spelaeorchestia koloana
 4                Amphipod, Noel's               Gammarus desperatus
 5           Amphipod, Peck's cave  Stygobromus (=Stygonectes) Pecki
 6                 Amphipod, Pecos                    Gammarus pecos
 7             Crayfish, Big Sandy                Cambarus callainus
 8                  Crayfish, cave                Cambarus aculabrum
 9                  Crayfish, cave              Cambarus zophonastes
 10     Crayfish, Guyandotte River                Cambarus veteranus
 11            Crayfish, Nashville                 Orconectes shoupi
 12               Crayfish, Shasta               Pacifastacus fortis
 13      Fairy shrimp, Conservancy          Branchinecta conservatio
 14         Fairy shrimp, longhorn         Branchinecta longiantenna
 15        Fairy shrimp, Riverside          Streptocephalus woottoni
 16        Fairy shrimp, San Diego       Branchinecta sandiegonensis
 17      Fairy shrimp, vernal pool               Branchinecta lynchi
 18        Isopod, Lee County cave                 Lirceus usdagalun
 19           Isopod, Madison Cave                    Antrolana lira
 20                Isopod, Socorro      Thermosphaeroma thermophilus
 21           Shrimp, Alabama cave              Palaemonias alabamae

In [4]:
# Create a dataframe for the table from the website ~ based on taxonomic group
mammal_df = tables[0]
mammal_df.columns = ["Common Name", "Scientific Name", "Status"]

In [5]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
mammal_df["Taxon Group"] = "Mammal"
mammal_df.head()

             Common Name            Scientific Name      Status Taxon Group
0                  Addax        Addax nasomaculatus  Endangered      Mammal
1          Anoa, lowland     Bubalus depressicornis  Endangered      Mammal
2         Anoa, mountain           Bubalus quarlesi  Endangered      Mammal
3  Antelope, giant sable  Hippotragus niger variani  Endangered      Mammal
4      Antelope, Tibetan       Panthalops hodgsonii  Endangered      Mammal

In [6]:
# Create a dataframe for the table from the website ~ based on taxonomic group
bird_df = tables[1]
bird_df.columns = ["Common Name", "Scientific Name", "Status"]

In [7]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
bird_df["Taxon Group"] = "Bird"
bird_df.head()

             Common Name         Scientific Name      Status Taxon Group
0      Adjutant, greater      Leptoptilos dubius  Endangered        Bird
1  Akekee (honeycreeper)  Loxops caeruleirostris  Endangered        Bird
2          Akepa, Hawaii        Loxops coccineus  Endangered        Bird
3            Akepa, Maui        Loxops ochraceus  Endangered        Bird
4         Akialoa, Kauai  Hemignathus stejnegeri  Endangered        Bird

In [8]:
# Create a dataframe for the table from the website ~ based on taxonomic group
reptile_df = tables[2]
reptile_df.columns = ["Common Name", "Scientific Name", "Status"]

In [9]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
reptile_df["Taxon Group"] = "Reptile"
reptile_df.head()

,Common Name,Scientific Name,Status,Taxon Group
0,"Alligator, American",Alligator mississippiensis,Threatened (S/A),Reptile
1,"Alligator, Chinese",Alligator sinensis,Endangered,Reptile
2,"Anole, Culebra Island giant",Anolis roosevelti,Endangered,Reptile
3,"Boa, Jamaican",Epicrates subflavus,Endangered,Reptile
4,"Boa, Mona",Epicrates monensis monensis,Threatened,Reptile

In [10]:
# Create a dataframe for the table from the website ~ based on taxonomic group
amphibian_df = tables[3]
amphibian_df.columns = ["Common Name", "Scientific Name", "Status"]

In [11]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
amphibian_df["Taxon Group"] = "Amphibian"
amphibian_df.head()

,Common Name,Scientific Name,Status,Taxon Group
0,"Coqui, golden",Eleutherodactylus jasperi,Threatened,Amphibian
1,"Coqui, llanero",Eleutherodactylus juanariveroi,Endangered,Amphibian
2,"Frog, California red-legged",Rana draytonii,Threatened,Amphibian
3,"Frog, Chiricahua leopard",Rana chiricahuensis,Threatened,Amphibian
4,"Frog, dusky gopher",Rana sevosa (= Lithobates sevosus),Endangered,Amphibian

In [12]:
# Create a dataframe for the table from the website ~ based on taxonomic group
fish_df = tables[4]
fish_df.columns = ["Common Name", "Scientific Name", "Status"]

In [13]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
fish_df["Taxon Group"] = "Fish"
fish_df.head()

              Common Name      Scientific Name      Status Taxon Group
0       Ala Balik (trout)  Salmo platycephalus  Endangered        Fish
1      Angelshark, common    Squatina squatina  Endangered        Fish
2     Angelshark, sawback    Squatina aculeata  Endangered        Fish
3  Angelshark, smoothback     Squatina oculata  Endangered        Fish
4       Ayumodoki (loach)    Hymenophysa curta  Endangered        Fish

In [14]:
# Create a dataframe for the table from the website ~ based on taxonomic group
clams_df = tables[5]
clams_df.columns = ["Common Name", "Scientific Name", "Status"]

In [15]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
clams_df["Taxon Group"] = "Clam"
clams_df.head()

            Common Name            Scientific Name      Status Taxon Group
0  Acornshell, southern  Epioblasma othcaloogensis  Endangered        Clam
1   Bankclimber, purple    Elliptoideus sloatianus  Threatened        Clam
2         Bean, Choctaw       Villosa choctawensis  Endangered        Clam
3      Bean, Cumberland           Villosa trabalis  Endangered        Clam
4      Bean, Cumberland           Villosa trabalis          XN        Clam

In [16]:
# Create a dataframe for the table from the website ~ based on taxonomic group
snails_df = tables[6]
snails_df.columns = ["Common Name", "Scientific Name", "Status"]

In [17]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
snails_df["Taxon Group"] = "Snail"
snails_df.head()

,Common Name,Scientific Name,Status,Taxon Group
0,"Abalone, Black",Haliotis cracherodii,Endangered,Snail
1,"Abalone, white",Haliotis sorenseni,Endangered,Snail
2,"Ambersnail, Kanab",Oxyloma haydeni kanabensis,Endangered,Snail
3,"Campeloma, slender",Campeloma decampi,Endangered,Snail
4,"Cavesnail, Tumbling Creek",Antrobia culveri,Endangered,Snail

In [18]:
# Create a dataframe for the table from the website ~ based on taxonomic group
insects_df = tables[7]
insects_df.columns = ["Common Name", "Scientific Name", "Status"]

In [19]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
insects_df["Taxon Group"] = "Insect"
insects_df.head()

                  Common Name      Scientific Name      Status Taxon Group
0  Bee, bumble, rusty patched       Bombus affinis  Endangered      Insect
1           Bee, yellow-faced  Hylaeus anthracinus  Endangered      Insect
2           Bee, yellow-faced   Hylaeus assimulans  Endangered      Insect
3           Bee, yellow-faced      Hylaeus facilis  Endangered      Insect
4           Bee, yellow-faced      Hylaeus hilaris  Endangered      Insect

In [20]:
# Create a dataframe for the table from the website ~ based on taxonomic group
arachnids_df = tables[8]
arachnids_df.columns = ["Common Name", "Scientific Name", "Status"]

In [21]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
arachnids_df["Taxon Group"] = "Arachnid"
arachnids_df.head()

,Common Name,Scientific Name,Status,Taxon Group
0,"Harvestman, Bee Creek Cave",Texella reddelli,Endangered,Arachnid
1,"Harvestman, Bone Cave",Texella reyesi,Endangered,Arachnid
2,"Harvestman, Cokendolpher cave",Texella cokendolpheri,Endangered,Arachnid
3,"Meshweaver, Braken Bat Cave",Circurina venii,Endangered,Arachnid
4,"Meshweaver, Government Canyon Bat Cave",Circurina vespera,Endangered,Arachnid

In [22]:
# Create a dataframe for the table from the website ~ based on taxonomic group
crustaceans_df = tables[9]
crustaceans_df.columns = ["Common Name", "Scientific Name", "Status"]

In [23]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
crustaceans_df["Taxon Group"] = "Crustacean"
crustaceans_df.head()

               Common Name          Scientific Name      Status Taxon Group
0     Amphipod, diminutive    Gammarus hyalleloides  Endangered  Crustacean
1   Amphipod, Hay's Spring         Stygobromus hayi  Endangered  Crustacean
2  Amphipod, Illinois Cave    Gammarus acherondytes  Endangered  Crustacean
3     Amphipod, Kauai cave  Spelaeorchestia koloana  Endangered  Crustacean
4         Amphipod, Noel's      Gammarus desperatus  Endangered  Crustacean

In [24]:
# Create a dataframe for the table from the website ~ based on taxonomic group
corals_df = tables[10]
corals_df.columns = ["Common Name", "Scientific Name", "Status"]

In [25]:
# Add a column representing the taxonomic group (from the Animal Welfare Institute)
corals_df["Taxon Group"] = "Coral"
corals_df.head()

               Common Name        Scientific Name      Status Taxon Group
0  Coral, (no common name)     Acropora globiceps  Threatened       Coral
1  Coral, (no common name)  Acropora jacquelineae  Threatened       Coral
2  Coral, (no common name)        Acropora lokani  Threatened       Coral
3  Coral, (no common name)     Acropora pharaonis  Threatened       Coral
4  Coral, (no common name)        Acropora retusa  Threatened       Coral

In [26]:
# Create a dataframe with all of the taxonomic groups
dataframes = [mammal_df, bird_df, reptile_df, amphibian_df, fish_df, clams_df, snails_df, insects_df,
             arachnids_df, crustaceans_df, corals_df]

all_taxon_dataframe = pd.concat(dataframes)

In [27]:
# Reset the index so that the index does not repeat when the taxonomic group changes
all_taxon_dataframe = all_taxon_dataframe.reset_index()

In [28]:
# Drop the column with the repetative numbers
all_taxon_dataframe = all_taxon_dataframe.drop("index", 1)

In [29]:
# Export dataframe to csv file
all_taxon_dataframe.to_csv("status_from_AWI_MOSHER.csv")